<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-ES"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Podemos &raquo; Primarias abiertas al Parlamento Europeo</title>
    <link rel="stylesheet" href="{{ static_path }}/libs/bootstrap-3.1.1/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ static_path }}/libs/bootstrap-3.1.1/css/bootstrap-theme.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ static_path }}/themes/current/css/base.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ static_path }}/img/favicon.ico" type="image/x-icon" />
</head>
<body role="document">

  <div id="show-modal">
  </div>

  <div id="renderall-wrapper">
    <div id="renderall">
      <p>Si ves este mensaje, significa que aun no ha cargado la página. Por favor, espera a que termine de cargar. Es posible que estés usando un navegador web antiguo o no soportado. Intenta cambiar de navegador si persiste el problema.</p>
    </div>
  </div>
  <!-- js dependencies -->
  <script type="text/javascript" src="{{ static_path }}/libs/jquery/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/underscore-1.6.0/underscore-min.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/backbone-1.1.2/backbone-min.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/bootstrap-3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/jquery-shuffle/jquery-shuffle.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/jquery-lazyload/jquery.lazyload.min.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/json3/json3.min.js"></script>
  <!-- dni upload -->
  <script src="{{ static_path }}/libs/jquery-file-upload/jquery.ui.widget.js"></script>
  <script src="{{ static_path }}/libs/jquery-file-upload/jquery.iframe-transport.js"></script>
  <script src="{{ static_path }}/libs/jquery-file-upload/jquery.fileupload.js"></script>
  

  <!-- dynamic data here -->
    <script>
        var app_data = {{ data }};
    </script>

  <!-- templates, mod_pagespeed will optimize them out with outline_javascript
       if needed -->
  <script type="text/underscore-template" id="template-base-view">
    <div class="container">
      <header id="header" class="cf">
        <a class="home-link" href="#" alt="Portada">
        </a>

        <div class="headlines col-md-6">
          <h2><%- election.pretty_name %></h2>
          <h3><%- subtitle %></h3>
        </div>
      </header>
      <div id="main" class="main cr" role="main">
        <div id="render-view-canvas">
          <section class="content-wrapper cf row-fluid" id="page-content">
            Cargando página..
          </section>
        </div>

        <section class="footer cr">
          <a href="<%- parent_site.url %>" target="_blank" alt="Podemos portada"><%- parent_site.name %></a> | <a href="#contact">Contacta</a>
          <% for (var i = 0; i < static_pages.length; i++) { %>
           | <a href="#page/<%- static_pages[i].name %>"><%- static_pages[i].title %></a>
          <% } %>
          <br/>
          <p>Funciona con <a href="https://agoravoting.com" target="_blank">Agora Voting, software libre</a>.</p>
        </section>
      </div>
    </div>
  </script>

  <script type="text/underscore-template" id="template-home-view">
    <section class="feature-block cf">
      <div class="shadow-wrapper container-fluid"><div class="row">
        <div class="campaign-excerpt col-xs-12 col-sm-7">
          <p><%= election.description %></p>
          <% if (election.voting_ends_at_date == null) { %>
            <a href="#identify" class="btn-vote btn-dark">Vota</a>
          <% } %>
        </div>
        <div class="extra-info col-xs-12 col-sm-5">
          <div class="featured-item">
            <strong><%- start_voting %></strong>
            <i>Comienzo votación</i>
          </div>
          <div class="featured-item">
            <strong><%- election.questions[0].answers.length %></strong>
            <% if (!candidates || candidates != "not_primary") { %>
              <i>Candidatos</i>
            <% } else { %>
              <i>Opciones</i>
            <% } %>
          </div>
          <div class="featured-item">
            <strong><%- end_voting %></strong>
            <i>Fin votación</i>
          </div>
          <div class="featured-item">
            <strong><%- num_votes %></strong>
            <i>Votos</i>
          </div>
          <div class="cf"></div>
          <ul class="nav nav-pills nav-justified">
            <li>
              <a href="#page/faq">
                Preguntas Frecuentes
              </a>
            </li>
            <li>
              <a href="#page/authorities">
                Autoridades de Votación
              </a>
            </li>
            <li>
              <a href="#verify-vote">
                Centro de seguridad
              </a>
            </li>
          </ul>
        </div>
      </div></div>
    </section>

    <section class="content-wrapper cr" id="candidates-list">
      <!-- here goes the candidates list or the results -->
    </section>
  </script>


  <script type="text/underscore-template" id="template-approval-results-table-view">
    <h2>Pregunta: <%- question %></h2>
    <p>Resultados en bruto:</p>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <% if (!candidates || candidates != "not_primary") { %>
            <th>Candidato</th>
          <% } else { %>
            <th>Opción</th>
          <% } %>
          <th>Votos</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < answers.length; i++) { %>
        <tr>
          <% var pos = _.indexOf(winners, answers[i].value); if (pos != -1) { %>
            <td class="winner"><%- (pos + 1) %></td>
            <td class="winner"><%- answers[i].value %></td>
            <td class="winner"><%- answers[i].total_count %></td>
          <% } else { %>
            <td>-</td>
            <td><%- answers[i].value %></td>
            <td><%- answers[i].total_count %></td>
          <% } %>
        </tr>
        <% } %>
      </tbody>
    </table>
  </script>

  <script type="text/underscore-template" id="template-stv-results-table-view">
    <h2>Pregunta: <%- q.question %></h2>
    <p>Resultados en bruto:</p>
    <div class="clear"></clear>
    <table class="question-stv table">
        <thead><tr>
            <th>Opciones</th>
            <% for(var j = 0; j < q_tally.iterations.length; j++) { %>
            <th>
                Ronda nº <%= q_tally.iterations[j].round_stage %>
            </th>
            <% } %>
            <th>
                Final
            </th>
        </tr></thead>
        <tbody>
            <% for(var j = 0; j < q.answers.length; j++) { %>
                <tr>
                    <td class="candidate">
                    <% if (q_tally.winners.indexOf(q.answers[j].value) != -1) { %>
                        <strong><%= q.answers[j].value %></strong>
                    <% } else { %>
                        <%= q.answers[j].value %>
                    <% } %>
                    </td>
                    <% for (var k = 0; k < q_tally.iterations.length; k++) { %>
                        <td class="<%= q_tally.iterations[k].candidates[j].status %>">
                            <%= parseFloat(q_tally.iterations[k].candidates[j].count) %>
                        </td>
                    <% } %>
                    <% if (q_tally.winners.indexOf(q.answers[j].value) != -1) { %>
                        <td class="last won">
                            Ganador
                        </td>
                    <% } else { %>
                        <td class="last">
                        </td>
                    <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>
  </script>

  <script type="text/underscore-template" id="template-candidates-approval-double-results-view">
    <div class="candidates-header cf">
        <h3>Lista de ganadores (en orden)</h3>
        <h4><a href="#results-table">Tabla de resultados</a></h4>
    </div>
    <div class="candidates-wrapper container-fluid">
      <% for(var i = 0; i < election.result.counts[1].winners.length; i++) { %>
        <% if (i > 1 && i % 2 == 0) { %>
          </div>
          <div class="candidates-wrapper container-fluid">
        <%  }
            var winner_name = election.result.counts[1].winners[i];

            var candidate = AE.getCandidateCount(
              winner_name,
              election.result.counts[0].answers);

            var candidate2 = AE.getCandidateCount(
              winner_name,
              election.result.counts[1].answers);
        %>
        <div class="col-xs-12 col-sm-6 candidate-item">
          <div class="cf">
            <div class="description">
              <h3><% if (election.tally_released_at_date != null) { %><%- (i + 1) %>. <% } %><%- candidate.value %></h3>
              <div class="question-result-name">
                1º pregunta
              <div class="question-result-value">
                <%- candidate.total_count %> votos
              </div>
              </div>
              <div class="question-result-name last">
                2º pregunta
              <div class="question-result-value">
                <%- candidate2.total_count %> votos
              </div>
              </div>
              <div class="container-fluid info-points">
                <div class="col-xs-7">
                  <a href="#" alt="Presentación y motivos" class="details" data-candidate="<%- JSON.stringify(candidate) %>">
                    Presentación y motivos
                  </a>
                  <% if (AE.findUrlByTitle(candidate.urls, "Web") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Web").url %>" target="_blank" alt="Web">
                      Web
                    </a>
                  <% } %>
                </div>
                <div class="col-xs-5">
                  <% if (AE.findUrlByTitle(candidate.urls, "Twitter") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Twitter").url %>" target="_blank" alt="Twitter">
                      Twitter
                    </a>
                  <% } %>
                  <% if (AE.findUrlByTitle(candidate.urls, "Facebook") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Facebook").url %>" target="_blank" alt="Facebook">
                      Facebook
                    </a>
                  <% } %>
                  <% if (AE.findUrlByTitle(candidate.urls, "Youtube") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Youtube").url %>" target="_blank" alt="Facebook">
                      Youtube
                    </a>
                  <% } %>
                </div>
              </div>
            </div>
            <% if (candidate.media_url.length > 0) { %>
              <img class="cand-img" data-original="<%- candidate.media_url %>" alt="<%- candidate.value %>" />
            <% } else { %>
              <img src="{{ static_path }}/themes/current/img/anon_icon.png" alt="<%- candidate.value %>" />
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </script>

  <script type="text/underscore-template" id="template-candidates-stv-results-view">
    <div class="candidates-header cf">
        <h3>Lista de ganadores (en orden)</h3>
        <h4><a href="#results-table">Tabla de resultados</a></h4>
    </div>
    <div class="candidates-wrapper container-fluid">
      <% for(var i = 0; i < election.result.counts[0].winners.length; i++) { %>
        <% if (i > 1 && i % 2 == 0) { %>
          </div>
          <div class="candidates-wrapper container-fluid">
        <%  }
            var winner_name = election.result.counts[0].winners[i];

            var candidate = AE.getCandidateCount(
              winner_name,
              election.questions[0].answers);
        %>
        <div class="col-xs-12 col-sm-6 candidate-item">
          <div class="cf">
            <div class="description">
              <h3><% if (election.tally_released_at_date != null) { %><%- (i + 1) %>. <% } %><%- candidate.value %></h3>
              <p class="short-description"><%- AE.shortDetails(candidate.details) %></p>
              <div class="container-fluid info-points">
                <div class="col-xs-7">
                  <a href="#" alt="Presentación y motivos" class="details" data-candidate="<%- JSON.stringify(candidate) %>">
                    Presentación y motivos
                  </a>
                  <% if (AE.findUrlByTitle(candidate.urls, "Web") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Web").url %>" target="_blank" alt="Web">
                      Web
                    </a>
                  <% } %>
                </div>
                <div class="col-xs-5">
                  <% if (AE.findUrlByTitle(candidate.urls, "@") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "@").url %>" target="_blank" alt="<%- AE.findUrlByTitle(candidate.urls, "@").title %>">
                      Twitter
                    </a>
                  <% } %>
                  <% if (AE.findUrlByTitle(candidate.urls, "Facebook") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Facebook").url %>" target="_blank" alt="Facebook">
                      Facebook
                    </a>
                  <% } %>
                  <% if (AE.findUrlByTitle(candidate.urls, "Youtube") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Youtube").url %>" target="_blank" alt="Facebook">
                      Youtube
                    </a>
                  <% } %>
                </div>
              </div>
            </div>
            <% if (candidate.media_url.length > 0) { %>
              <img class="cand-img" data-original="<%- candidate.media_url %>" alt="<%- candidate.value %>" />
            <% } else { %>
              <img src="{{ static_path }}/themes/current/img/anon_icon.png" alt="<%- candidate.value %>" />
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </script>

  <script type="text/underscore-template" id="template-candidates-list-view">
    <div class="candidates-header cf">
        <% if (!candidates || candidates != "not_primary") { %>
          <h3>Candidaturas</h3>
        <% } else { %>
          <h3>Opciones</h3>
        <% } %>
        <h4>En orden aleatorio</h4>
    </div>
    <div class="candidates-wrapper container-fluid">
      <% for(var i = 0; i< election.questions[0].answers.length; i++) { %>
        <% if (i > 1 && i % 2 == 0) { %>
          </div>
          <div class="candidates-wrapper container-fluid">
        <% }
            var candidate = election.questions[0].answers[i];
        %>
        <div class="col-xs-12 col-sm-6 candidate-item">
          <div class="cf">
            <div class="description">
              <h3><%- candidate.value %></h3>
              <p class="short-description"><%- AE.shortDetails(candidate.details) %></p>
              <div class="container-fluid info-points">
                <div class="col-xs-7">
                  <a href="#" alt="Presentación y motivos" class="details" data-candidate="<%- JSON.stringify(candidate) %>">
                    Presentación y motivos
                  </a>
                  <% if (AE.findUrlByTitle(candidate.urls, "Web") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Web").url %>" target="_blank" alt="Web">
                      Web
                    </a>
                  <% } %>
                  <% if (AE.findUrlByTitle(candidate.urls, "Youtube") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Youtube").url %>" target="_blank" alt="Youtube">
                      Youtube
                    </a>
                  <% } %>
                </div>
                <div class="col-xs-5">
                  <% if (AE.findUrlByTitle(candidate.urls, "Twitter") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Twitter").url %>" target="_blank" alt="Twitter">
                      Twitter
                    </a>
                  <% } %>
                  <% if (AE.findUrlByTitle(candidate.urls, "Facebook") != null) { %>
                    <a href="<%- AE.findUrlByTitle(candidate.urls, "Facebook").url %>" target="_blank" alt="Facebook">
                      Facebook
                    </a>
                  <% } %>
                </div>
              </div>
            </div>
            <% if (candidate.media_url.length > 0) { %>
              <img class="cand-img" data-original="<%- candidate.media_url %>" alt="<%- candidate.value %>" />
            <% } else { %>
              <img src="{{ static_path }}/themes/current/img/anon_icon.png" alt="<%- candidate.value %>" />
            <% } %>
          </div>
        </div>
      <% } %>
    </div>
  </script>

  <script type="text/underscore-template" id="template-identify-view">
    <section class="content-wrapper cf row-fluid">
      <div class="col-xs-12 col-sm-12">
        <h2 class="section-title">Identifícate (paso 1 de <%- num_steps %>)</h2>
      </div>
      <form id="identify-form" role="form" class="col-xs-12 col-sm-6">
        <div id="id-browser-warning" class="alert alert-danger hidden">
          <strong>Atención!</strong> Hemos detectado que usas una antigua <strong>versión de Internet Explorer no soportada</strong>. Por favor, utiliza un navegador web más actualizado, como por ejemplo <a href="https://firefox.com/">Firefox</a> o Chrome.
        </div>
        <div class="form-group">
          <label for="first-name">Nombre</label>
          <input type="text" class="form-control" id="first-name" placeholder="">
          <p class="help-block"></p>
        </div>
        <div class="form-group">
          <label for="last-name">Apellidos</label>
          <input type="text" class="form-control" id="last-name" placeholder="">
          <p class="help-block"></p>
        </div>
        <% if (show_email) { %>
          <div class="checkbox form-group">
        <% } else { %>
          <div class="checkbox form-group hidden">
        <% } %>
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="">
          <p class="help-block"></p>
        </div>
        <div class="form-group">
          <label for="dni">DNI/NIE</label>
          <input type="text" class="form-control" id="dni" placeholder="">
          <p class="help-block">El DNI/NIE con letra incluida, ejemplo: 12345678A</p>
        </div>
        <% if (auth_method == "sms") { %>
          <div class="form-group">
            <label for="tlf">Teléfono</label>
            <input type="text" class="form-control" id="tlf" placeholder="">
            <p class="help-block">El teléfono móvil puede ser español o extranjero, ejemplos: 666 666 666, +41 777 777 777</p>
          </div>
        <% } else if (auth_method == "id-photo") { %>
		  <div class="form-group">
			<label for="dni">DNI (scan)</label>
			<input id="fileupload" type="file" name="dni" data-url="api/v1/upload-dni/">
			<p id="dni-status"></p>
			<p class="help-block">El DNI scaneado</p>
	      </div>
        <% } %>
        <% } %>
        <% if (show_postal_code) { %>
          <div class="checkbox form-group">
        <% } else { %>
          <div class="checkbox form-group hidden">
        <% } %>
          <label for="postal-code">Código postal</label>
          <input type="text" class="form-control" id="postal-code" placeholder="">
          <p class="help-block"></p>
        </div>
        <div class="checkbox form-group">
          <label>
            <input type="checkbox" id="above-age"> Tengo más de <%- min_age %> años
            <p class="help-block"></p>
          </label>
        </div>
        <% if (show_check_receive_updates) { %>
          <div class="checkbox form-group">
        <% } else { %>
          <div class="checkbox form-group hidden">
        <% } %>
          <label>
            <input type="checkbox" id="receive-mail-updates"> Recibir actualizaciones por email
            <p class="help-block"></p>
          </label>
        </div>
        <div class="textarea-tos">
          <%- tos.text %>
        </div>
        <div class="checkbox form-group">
          <label>
            <input type="checkbox" id="accept-conditions"> <%- tos.title %>
            <p class="help-block"></p>
          </label>
        </div>
        <% if (register_shows_captcha) { %>
          <div class="form-group">
            <label for="tlf">Captcha</label>
            <img id="captcha-img" src="" alt="captcha" />
            <a href="#" target="_blank" alt="audio-captcha" id="captcha-audio"><span class="glyphicon glyphicon-headphones"></span></a>
            <input type="text" class="form-control" id="captcha-text" placeholder="">
            <p class="help-block">Obligatorio. Introduce los caracteres que veas en la imagen.</p>
          </div>
        <% } %>
        <div id="error-message"></div>
        <button type="button" id="identify-action" class="btn btn-light btn-block">Identificarme</button>
      </form>
      <div class="section-header col-xs-12 col-sm-6">
        <p>Es necesario que verifiques tu identidad antes de votar. Si te identificaste anteriormente pero no llegaste a registrar tu voto, podrás hacerlo de nuevo. Debes tener más de <%- min_age %> años y tener una forma de identificarte. Más información en las <a href="#page/faq" target="_blank">preguntas frecuentes</a>.</p>

        <!--<p>Puedes ver un video tutorial de cómo votar aquí:</p>
        <iframe id="youtubeVideo" with="400" height="180" frameborder="0" allowfullscreen
        src="https://www.youtube.com/embed/iObPFtoZqSc?referrer=evento.agoravoting.com"></iframe>-->

      </div>
    </section>
  </script>

  <script type="text/underscore-template" id="template-verify-sms-view">
    <section class="content-wrapper cf row-fluid">
      <div class="col-xs-12 col-sm-12">
        <h2 class="section-title">Verifica tu código SMS (paso 2 de <%- num_steps %>)</h2>
      </div>
      <form id="identify-form" role="form" class="col-xs-12 col-sm-6">
        <% if (!tlf) { %>
          <div class="form-group">
            <label for="tlf">Teléfono</label>
            <input type="text" class="form-control" id="tlf" placeholder="">
            <p class="help-block">El teléfono debe ser español, ejemplo: 666 666 666</p>
          </div>
        <% } %>
        <% if (!dni) { %>
          <div class="form-group">
            <label for="dni">DNI/NIE</label>
            <input type="text" class="form-control" id="dni" placeholder="">
            <p class="help-block">El DNI/NIE con letra incluida, ejemplo: 12345678A</p>
          </div>
        <% } %>
        <div class="form-group">
          <label for="sms-code">Código SMS</label>
          <input type="text" class="form-control" id="sms-code" placeholder="">
          <p class="help-block">Ten paciencia, tardará unos segundos en llegarte el código por SMS al móvil.</p>
        </div>
        <div id="error-message"></div>
        <button type="button" id="verify-action" class="btn btn-light btn-block">Verificar código SMS</button>
      </form>
      <div class="section-header col-xs-12 col-sm-6">
        <p>En este segundo paso debes de introducir un código SMS que has debido recibir en tu teléfono móvil para que verifiquemos tu identidad y así puedas entrar a la cabina de votación. Si no te ha llegado el mensaje SMS</strong>, si aun no te lo hemos enviado, si ha caducado o si estás teniendo problemas, puedes probar a <a href="#identify">identificarte de nuevo</a>. Más información en las <a href="#page/faq" target="_blank">preguntas frecuentes</a>.</p>
      </div>
    </section>
  </script>

  <script type="text/underscore-template" id="template-contact-view">
    <section class="content-wrapper cf row-fluid">
      <div class="col-xs-12 col-sm-12">
        <h2 class="section-title">Contacta con nosotros</h2>
      </div>
      <form id="identify-form" role="form" class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="name">Nombre y Apellidos</label>
          <input type="text" class="form-control" id="name" placeholder="">
          <p class="help-block"></p>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="">
          <p class="help-block">Obligatorio. Necesitamos saber tu dirección de email para poder responderte</p>
        </div>
          <div class="form-group">
            <label for="tlf">Teléfono</label>
            <input type="text" class="form-control" id="tlf" placeholder="">
            <p class="help-block">Opcional. Si has tenido algún problema con tu número de teléfono, especifica aquí con cual</p>
          </div>
        <div class="form-group">
          <textarea id="text-body" class="col-xs-12" rows="5" placeholder="Escribe aquí tu mensaje"></textarea>
          <p class="help-block"></p>
        </div>
        <div class="form-group">
          <label for="tlf">Captcha</label>
          <img id="captcha-img" src="" alt="captcha" />
          <a href="#" target="_blank" alt="audio-captcha" id="captcha-audio"><span class="glyphicon glyphicon-headphones"></span></a>
          <input type="text" class="form-control" id="captcha-text" placeholder="">
          <p class="help-block">Obligatorio. Introduce los caracteres que veas en la imagen.</p>
        </div>
        <div id="error-message"></div>
        <button type="button" id="send-message" class="btn btn-light btn-block">Contactar</button>
      </form>
      <div class="section-header col-xs-12 col-sm-6">
        <p>Si has tenido algún problema en el proceso de votación, o si tienes alguna duda o consulta que hacernos, puedes contactar con nosotros a través de este formulario de contacto. También puedes hacerlo enviándonos un email a <a href="mailto:<%- contact.email %>" target="_blank"><%- contact.email %></a> o contáctanos por twitter en <a href="https://twitter.com/<%- contact.twitter_username %>" target="_blank">@<%- contact.twitter_username %></a>.</p>
      </div>
    </section>
  </script>

  <script type="text/underscore-template" id="template-mail-sent-view">
    <section class="content-wrapper cf row-fluid">
      <div class="col-xs-12 col-sm-12">
        <h2 class="section-title">Mensaje enviado</h2>
        <p>Ya hemos recibido tu mensaje. Lo leeremos y contestareamos con la mayor brevedad posible. Gracias por ponerte en contacto con nosotros.</p>
      </div>
    </section>
  </script>


  <script type="text/underscore-template" id="template-modal-dialog-view">
    <div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="modal-dialog-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal-dialog-label"><%- title %></h4>
          </div>
          <div class="modal-body">
            <%= body %>
          </div>
          <% if (footer.length) { %>
            <div class="modal-footer">
              <%= footer %>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </script>

  <script type="text/underscore-template" id="template-candidate-modal-body">
    <img class="cand-img" src="<%- media_url %>" alt="<%- value %>" />
    <div class="cf"></div>
    <h3>Presentación y motivos</h3>
    <% if (AE.findUrlByTitle(urls, "Youtube") != null) { %>
      <iframe id="youtubeVideo" with="640" height="200" frameborder="0" allowfullscreen
        src="<%- AE.getYoutubeEmbedUrl(urls) %>">
      </iframe>
    <% } %>
    <p><%= details %></p>
  </script>

  <script type="text/underscore-template" id="template-security-center-view">
    <section class="content-wrapper cf row-fluid">
      <div class="col-xs-12 col-sm-12">
        <h2 class="section-title">Centro de Seguridad</h2>
      </div>

      <ul class="nav nav-tabs" id="verify-tabs">
        <li class="active"><a href="#verify-vote" data-toggle="tab">
          Verifica tu voto
        </a></li>
        <li><a href="#verify-tally" data-toggle="tab">
          Verifica el recuento
        </a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="verify-vote">
          <form id="verify-vote-form" role="form" class="col-xs-12 col-sm-7">
            <div class="form-group">
              <label for="tracker">Localizador del voto</label>
              <input type="text" class="form-control" id="tracker" placeholder="">
              <p class="help-block">El localizador de tu voto, por ejemplo 78a319dbd699c5d6ff08ca08990b395e593bcb8282a7660417a50d0ee470503f</p>
            </div>
            <div id="error-message"></div>
            <button type="button" id="verify-action" class="btn btn-light btn-block">
              Comprobar mi voto
            </button>
            <div id="verify-result" class="hidden">
              <div class="tab-pane">
                <h2>Resultado</h2>
                <p>¡Enhorabuena! El voto con con el localizador <strong id="tracker-id"></strong> se ha contabilizado correctamente. Si quieres ver los detalles técnicos del voto, <a data-toggle="collapse" data-parent="#verify-tally" href="#vote-details">pincha aquí</a></p>
                <div class="collapse console-line" id="vote-details">
                </div>
              </div>
            </div>
          </form>
          <div class="section-header col-xs-12 col-sm-5">
            <p>Cuando emites tu voto, te aparece el localizador de tu voto para que puedas seguirle el rastro sin desvelar el secreto del voto. Aquí puedes introducirlo y ver que efectivamente tu voto fue emitido y recogido correctamente. Más información en las <a href="#page/faq" target="_blank">preguntas frecuentes</a>.</p>
          </div>
        </div>
        <div class="tab-pane" id="verify-tally">
          <% if (election.tally_released_at_date == null) { %>
            <p>En cuanto se cierre la votación, se realice el recuento y se publiquen los resultados, cualquiera podrá verificar los resultados de la votación siguiendo unos sencillos pasos que aquí se detallarán.</p>
          <% } else { %>
            <p>Para verificar la votación, sigue estos pasos:</p>
            <ol>
                <li>
                    <p>Descarga <a target="_blank" href="https://congresotransparente.com/static/agora-verifier">agora-verifier</a> (necesitarás Linux x64 bits con python 2.7 y Java 7)</p>
                </li>
                <li>
                    <p>Descarga <a target="_blank" href="<%- election.base_url %>/media/elections/<%- election.id %>/tally.tar.gz">el recuento de la votación</a></p>
                </li>
                <li>
                    <p>Indica el directorio donde hayas descargado ambos archivos y ejecuta el siguiente comando para verificar el recuento:</p>
                    <div class="console-line">
                    sh agora-verifier tally.tar.gz</h2>
                    </div>
                </li>
            </ol>
            <p>Para verificar que se haya contado tu voto, ejecuta:</p>
            <div class="console-line">sh agora-verifier tally.tar.gz &lt;tracker-id&gt;</div>
          </div>
        <% } %>
      </div>
    </section>
  </script>

  <script type="text/underscore-template" id="template-page-view">
    <section class="content-wrapper cf row-fluid" id="page-content">
      Cargando página..
    </section>
  </script>

  <!-- real ours js code -->
  <script type="text/javascript" src="{{ static_path }}/js/base.js"></script>
</body>
