<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-ES"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Podemos &raquo; Primarias abiertas al Parlamento Europeo</title>
    <link rel="stylesheet" href="{{ static_path }}/libs/bootstrap-3.1.1/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ static_path }}/libs/bootstrap-3.1.1/css/bootstrap-theme.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ static_path }}/themes/current/css/base.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body role="document">
  <div id="renderall">
  </div>
  <!-- js dependencies -->
  <script type="text/javascript" src="{{ static_path }}/libs/jquery/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/underscore-1.6.0/underscore-min.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/backbone-1.1.2/backbone-min.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/bootstrap-3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ static_path }}/libs/jquery-shuffle/jquery-shuffle.js"></script>

  <!-- dynamic data here -->
    <script>
        var app_data = {{ data }};
    </script>

  <!-- templates, mod_pagespeed will optimize them out with outline_javascript -->
  <script type="text/underscore-template" id="template-home-view">
    <div class="container">
      <header id="header" class="cf">
        <a class="home-link" href="#" alt="Portada">
        </a>

        <div class="headlines col-md-6">
          <h2><%- election.pretty_name %></h2>
          <h3><%- subtitle %></h3>
        </div>
      </header>
      <div id="main" class="main cr" role="main">
        <section class="feature-block cf">
          <div class="shadow-wrapper container-fluid"><div class="row">
            <div class="campaign-excerpt col-xs-12 col-sm-7">
              <p><%- election.description %></p>
              <a href="#identify" class="btn-vote btn-dark">Vota</a>
            </div>
            <div class="extra-info col-xs-12 col-sm-5">
              <div class="featured-item">
                <strong><%- start_voting %></strong>
                <i>Comienzo votación</i>
              </div>
              <div class="featured-item">
                <strong><%- election.questions[0].answers.length %></strong>
                <i>Candidatos</i>
              </div>
              <div class="featured-item">
                <strong><%- end_voting %></strong>
                <i>Fin votación</i>
              </div>
              <div class="featured-item">
                <strong><%- election.questions[0].num_seats %></strong>
                <i>Ganadores</i>
              </div>
              <div class="cf"></div>
              <ul class="nav nav-pills nav-justified">
                <li>
                  <a href="#faq">
                    Preguntas Frecuentes
                  </a>
                </li>
                <li>
                  <a href="#authorities">
                    Autoridades de Votación
                  </a>
                </li>
                <li>
                  <a href="#security-center">
                    Centro de seguridad
                  </a>
                </li>
              </ul>
            </div>
          </div></div>
        </section>

        <section class="content-wrapper cr">
          <div class="candidates-header cf">
            <% if (election.tally_released_at_date == null) { %>
              <h3>Candidaturas</h3>
              <h4>En orden aleatorio</h4>
            <% } else { %>
              <h3>Lista de ganadores</h3>
              <h4>En orden</h4>
            <% } %>
          </div>
          <div class="candidates-wrapper container-fluid">
            <% for(var i = 0; i< election.questions[0].answers.length; i++) { %>
              <% if (i > 1 && i % 2 == 0) { %>
                </div>
                <div class="candidates-wrapper container-fluid">
              <% }
                 var candidate = election.questions[0].answers[i];
              %>
              <div class="col-xs-12 col-sm-6 candidate-item">
                <div class="cf">
                  <div class="description">
                    <h3><%- candidate.value %></h3>
                    <p class="short-description"><%- AE.shortDetails(candidate.details) %></p>
                    <div class="container-fluid info-points">
                      <div class="col-xs-7">
                        <a href="#" alt="Presentación y motivos" class="details" data-details="<%- candidate.details %>">
                          Presentación y motivos
                        </a>
                        <% if (AE.findUrlByTitle(candidate.urls, "Web") != null) { %>
                          <a href="<%- AE.findUrlByTitle(candidate.urls, "Web").url %>" target="_blank" alt="Web">
                            Web
                          </a>
                        <% } %>
                      </div>
                      <div class="col-xs-5">
                        <% if (AE.findUrlByTitle(candidate.urls, "@") != null) { %>
                          <a href="<%- AE.findUrlByTitle(candidate.urls, "@").url %>" target="_blank" alt="<%- AE.findUrlByTitle(candidate.urls, "@").title %>">
                            Twitter
                          </a>
                        <% } %>
                        <% if (AE.findUrlByTitle(candidate.urls, "Facebook") != null) { %>
                          <a href="<%- AE.findUrlByTitle(candidate.urls, "Facebook").url %>" target="_blank" alt="Facebook">
                            Facebook
                          </a>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <% if (candidate.media_url.length > 0) { %>
                    <img src="<%- candidate.media_url %>" alt="<%- candidate.value %>" />
                  <% } else { %>
                    <img src="{{ static_path }}/themes/current/img/anon_icon.png" alt="<%- candidate.value %>" />
                  <% } %>
                </div>
              </div>
            <% } %>
          </div>
        </section>


        <section class="footer cr">
          <a href="//www.podemos.info" target="_blank" alt="Podemos portada">www.podemos.info</a> | <a href="#contact">Contacta</a>
        </section>
      </div>
    </div>
  </script>

  <script type="text/underscore-template" id="template-identify-view">
    <div class="container">
      <header id="header" class="cf">
        <a class="home-link" href="#" alt="Portada">
        </a>

        <div class="headlines col-md-6">
          <h2><%- election.pretty_name %></h2>
          <h3><%- subtitle %></h3>
        </div>
      </header>
      <div id="main" class="main cr" role="main">
        <section class="content-wrapper cf row-fluid">
          <div class="col-xs-12 col-sm-12">
            <h2 class="section-title">Identifícate (paso 1 de 3)</h2>
          </div>
          <form id="identify-form" role="form" class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="first-name">Nombre</label>
              <input type="text" class="form-control" id="first-name" placeholder="">
              <p class="help-block"></p>
            </div>
            <div class="form-group">
              <label for="last-name">Apellidos</label>
              <input type="text" class="form-control" id="last-name" placeholder="">
              <p class="help-block"></p>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="">
              <p class="help-block"></p>
            </div>
            <div class="form-group">
              <label for="tlf">Teléfono</label>
              <input type="text" class="form-control" id="tlf" placeholder="">
              <p class="help-block">El teléfono debe ser español, ejemplo: +34 666 666 666</p>
            </div>
            <div class="form-group">
              <label for="postal-code">Código postal</label>
              <input type="text" class="form-control" id="postal-code" placeholder="">
              <p class="help-block"></p>
            </div>
            <div class="checkbox form-group">
              <label>
                <input type="checkbox" id="above-age"> Soy mayor de edad
                <p class="help-block"></p>
              </label>
            </div>
            <div class="checkbox form-group">
              <label>
                <input type="checkbox" id="receive-mail-updates"> Recibir actualizaciones por email
                <p class="help-block"></p>
              </label>
            </div>
            <div class="textarea-tos">
              <%- tos.text %>
            </div>
            <div class="checkbox form-group">
              <label>
                <input type="checkbox" id="accept-conditions"> <%- tos.title %>
                <p class="help-block"></p>
              </label>
            </div>
            <div id="error-message"></div>
            <button id="identify-action" class="btn btn-light btn-block">Identificarme</button>
          </form>
          <div class="section-header col-xs-12 col-sm-6">
            <p>Es necesario que verifiques tu identidad antes de votar. Si te identificaste anteriormente pero no llegaste a registrar tu voto, podrás hacerlo de nuevo. Debes ser mayor de edad y tener un móvil con teléfono español para votar. Más información en las <a href="#faq" target="_blank">preguntas frecuentes</a>.</p>
          </div>
        </section>

        <section class="footer cf">
          <a href="<%- parent_site.url %>" target="_blank" alt="<%- parent_site.name %>"><%- parent_site.name %></a> | <a href="#contact">Contacta</a>
        </section>
      </div>
    </div>
  </script>

  <script type="text/underscore-template" id="template-verify-sms-view">
    <div class="container">
      <header id="header" class="cf">
        <a class="home-link" href="#" alt="Portada">
        </a>

        <div class="headlines col-md-6">
          <h2><%- election.pretty_name %></h2>
          <h3><%- subtitle %></h3>
        </div>
      </header>
      <div id="main" class="main cr" role="main">
        <section class="content-wrapper cf row-fluid">
          <div class="col-xs-12 col-sm-12">
            <h2 class="section-title">Verifica tu código SMS (paso 2 de 3)</h2>
          </div>
          <form id="identify-form" role="form" class="col-xs-12 col-sm-6">
            <% if (!tlf) { %>
              <div class="form-group">
                <label for="tlf">Teléfono</label>
                <input type="text" class="form-control" id="tlf" placeholder="">
                <p class="help-block">El teléfono debe ser español, ejemplo: +34 666 666 666</p>
              </div>
            <% } %>
            <div class="form-group">
              <label for="sms-code">Código SMS</label>
              <input type="text" class="form-control" id="sms-code" placeholder="">
              <p class="help-block">Ten paciencia, tardará unos segundos en llegarte el código por SMS al móvil.</p>
            </div>
            <div id="error-message"></div>
            <button id="verify-action" class="btn btn-light btn-block">Verificar código SMS</button>
          </form>
          <div class="section-header col-xs-12 col-sm-6">
            <p>En este segundo paso debes de introducir un código SMS que has debido recibir en tu teléfono móvil para que verifiquemos tu identidad y así puedas entrar a la cabina de votación. Si no te ha llegado el mensaje SMS</strong>, si aun no te lo hemos enviado, si ha caducado o si estás teniendo problemas, puedes probar a <a href="#identify">identificarte de nuevo</a>. Más información en las <a href="#faq" target="_blank">preguntas frecuentes</a>.</p>
          </div>
        </section>

        <section class="footer cf">
          <a href="<%- parent_site.url %>" target="_blank" alt="<%- parent_site.name %>"><%- parent_site.name %></a> | <a href="#contact">Contacta</a>
        </section>
      </div>
    </div>
  </script>

  <script type="text/underscore-template" id="template-faq-view">
    <div class="container">
      <header id="header" class="cf">
        <a class="home-link" href="#" alt="Portada">
        </a>

        <div class="headlines col-md-6">
          <h2><%- election.pretty_name %></h2>
          <h3><%- subtitle %></h3>
        </div>
      </header>
      <div id="main" class="main cr" role="main">
        <section class="content-wrapper cf row-fluid" id="faq-list">
          <div class="col-xs-12 col-sm-12">
            <h2 class="section-title">Preguntas Frecuentes</h2>
          </div>
          <% for(var i = 0; i < faq_questions.length; i++) { %>
          <a data-toggle="collapse" data-parent="#faq-list" href="#q<%- (i+1) %>">
            <h3><%- (i+1) %>. <%- faq_questions[i].question %></h3>
          </a>
          <div class="collapse" id="q<%- (i+1) %>">
            <%= faq_questions[i].answer %>
          </div>
          <% } %>
        </section>

        <section class="footer cf">
          <a href="<%- parent_site.url %>" target="_blank" alt="<%- parent_site.name %>"><%- parent_site.name %></a> | <a href="#contact">Contacta</a>
        </section>
      </div>
    </div>
  </script>

  <script type="text/underscore-template" id="template-authorities-view">
    <div class="container">
      <header id="header" class="cf">
        <a class="home-link" href="#" alt="Portada">
        </a>

        <div class="headlines col-md-6">
          <h2><%- election.pretty_name %></h2>
          <h3><%- subtitle %></h3>
        </div>
      </header>
      <div id="main" class="main cr" role="main">
        <section class="content-wrapper cf row-fluid" id="faq-list">
          <div class="col-xs-12 col-sm-12">
            <h2 class="section-title">Autoridades</h2>
            <p>Las autoridades de la votación juegan un papel fundamental. La fortaleza del sistema de seguridad usado en esta votación reside en un <strong>sistema de seguridad compartida</strong> análogo a los apoderados e interventores en las elecciones tradicionales, donde la clave cifrada de la votación se genera de forma distribuida por un conjunto de <strong>autoridades independientes de la votación</strong>, que velan por el secreto del voto y son las que ejecutan el recuento.</p>

            <p>Más información en las <a href="#faq" target="_blank">preguntas frecuentes</a>. Son <%- authorities.length %> las autoridades en esta votación:</p>

          <% for(var i = 0; i < authorities.length; i++) { %>
            <h3><%- authorities[i].name %></h3>
            <h4><a href="<%- authorities[i].url %>"><%- authorities[i].url %></a></h4>
            <%= authorities[i].description %>
          <% } %>
          </div>
        </section>

        <section class="footer cf">
          <a href="<%- parent_site.url %>" target="_blank" alt="<%- parent_site.name %>"><%- parent_site.name %></a> | <a href="#contact">Contacta</a>
        </section>
      </div>
    </div>
  </script>

  <script type="text/underscore-template" id="template-contact-view">
    <div class="container">
      <header id="header" class="cf">
        <a class="home-link" href="#" alt="Portada">
        </a>

        <div class="headlines col-md-6">
          <h2><%- election.pretty_name %></h2>
          <h3><%- subtitle %></h3>
        </div>
      </header>
      <div id="main" class="main cr" role="main">
        <section class="content-wrapper cf row-fluid">
          <div class="col-xs-12 col-sm-12">
            <h2 class="section-title">Contacta con nosotros</h2>
          </div>
          <form id="identify-form" role="form" class="col-xs-12 col-sm-6">
            <div class="form-group">
              <label for="name">Nombre y Apellidos</label>
              <input type="text" class="form-control" id="name" placeholder="">
              <p class="help-block"></p>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="">
              <p class="help-block">Obligatorio. Necesitamos saber tu dirección de email para poder responderte</p>
            </div>
              <div class="form-group">
                <label for="tlf">Teléfono</label>
                <input type="text" class="form-control" id="tlf" placeholder="">
                <p class="help-block">Opcional. Si has tenido algún problema con tu número de teléfono, especifica aquí con cual</p>
              </div>
            <div class="form-group">
              <textarea id="text-body" class="col-xs-12" rows="5" placeholder="Escribe aquí tu mensaje"></textarea>
              <p class="help-block"></p>
            </div>
            <div id="error-message"></div>
            <button id="send-message" class="btn btn-light btn-block">Contactar</button>
          </form>
          <div class="section-header col-xs-12 col-sm-6">
            <p>Si has tenido algún problema en el proceso de votación, o si tienes alguna duda o consulta que hacernos, puedes contactar con nosotros a través de este formulario de contacto. También puedes hacerlo enviándonos un email a <a href="mailto:<%- contact.email %>" target="_blank"><%- contact.email %></a> o contáctanos por twitter en <a href="https://twitter.com/<%- contact.twitter_username %>" target="_blank">@<%- contact.twitter_username %></a>.</p>
          </div>
        </section>

        <section class="footer cf">
          <a href="<%- parent_site.url %>" target="_blank" alt="<%- parent_site.name %>"><%- parent_site.name %></a> | <a href="#contact">Contacta</a>
        </section>
      </div>
    </div>
  </script>

    <script type="text/underscore-template" id="template-mail-sent-view">
    <div class="container">
      <header id="header" class="cf">
        <a class="home-link" href="#" alt="Portada">
        </a>

        <div class="headlines col-md-6">
          <h2><%- election.pretty_name %></h2>
          <h3><%- subtitle %></h3>
        </div>
      </header>
      <div id="main" class="main cr" role="main">
        <section class="content-wrapper cf row-fluid" id="faq-list">
          <div class="col-xs-12 col-sm-12">
            <h2 class="section-title">Mensaje enviado</h2>
            <p>Ya hemos recibido tu mensaje. Lo leeremos y contestareamos con la mayor brevedad posible. Gracias por ponerte en contacto con nosotros.</p>
        </section>

        <section class="footer cf">
          <a href="<%- parent_site.url %>" target="_blank" alt="<%- parent_site.name %>"><%- parent_site.name %></a> | <a href="#contact">Contacta</a>
        </section>
      </div>
    </div>
  </script>

  <!-- real ours js code -->
  <script type="text/javascript" src="{{ static_path }}/js/base.js"></script>
</body>